<h1><%=@user.username%>'s goals</h1>

<div class="goal-container">
  <% @user.goals.each do |goal| %>
    <h5><%=goal.title%></h5>
    <%=goal.content%>
    <br>
    In <a href="/goals/<%=goal.id%>"><%=goal.steps.count%></a> Steps
    <br>
    <ul>
      <%goal.steps.each do |step|%>
        <li><%=step.content%></li>
      <%end%>
    </ul>
    <div class="username-bottom">
      source: <a href="/users/<%=goal.user.slug%>"><%=goal.user.username%></a>
    </div>
    <br>
  </div>
<%end%>
