<% if !!flash[:message] %>
  <div class="alert alert-info">
    <%= flash[:message] %>
  </div>
<% end %>

<div class="heading-dropdown">
  <h1><%=@user.username%>'s Goals:</h1>
  <div class="dropdown">
    <button class="dropbtn">Actions</button>
    <div class="dropdown-content">
      <a href="/goals/new" class="new-goal-link">Create a new goal</a>
      <a href="/goals" class="explore-goals-link">Explore goals</a>
    </div>
  </div>
</div>

<% @user.goals.each do |goal| %>
  <div class="goal-container">
    <h5><a href="/goals/<%=goal.id%>"><%=goal.title%></a></h5>
    <%=goal.content%>
    <br>
    In <a href="/goals/<%=goal.id%>"><%=goal.steps.count%></a> Steps
    <br>
    <ul>
      <%goal.steps.each do |step|%>
        <li><%=step.content%></li>
      <%end%>
    </ul>
    <%@favorited_goal = FavoriteGoal.find_by(user_id: current_user.id, goal_id: goal.id) if logged_in?(session)%>
    <div class="username-bottom">
      source: <a href="/users/<%=goal.user.slug%>"><%=goal.user.username%></a>
    </div>
    <% if logged_in?(session) && current_user == @user %>
      <form action="/goals/<%=goal.id%>/edit" method="GET">
        <button type="submit" name="submit" id="edit-click">Edit</button>
      </form>
      <form action="/goals/<%=goal.id%>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="delete"></input>
        <button type="submit" name="delete_click" value="<%=goal.id%>" id="delete-click">Delete</button>
      </form>

    <% elsif logged_in?(session) && current_user != @user && !current_user.favorited?(goal)%>
      <form action="/users/<%=current_user.slug%>/favorites" method="POST">
        <button type="submit" name="favorite_goal_id" value="<%=goal.id%>" id="favorite">Favorite</button>
      </form>
    <% elsif logged_in?(session) && current_user != @user && current_user.favorited?(goal)%>
      <form action="/users/<%=current_user.slug%>/favorites" method="POST">
        <input type="hidden" id="hidden" name="_method" value="delete"></input>
        <button type="submit" name="favorite_goal_id" value="<%=@favorited_goal.id%>" id="favorite">Un-Favorite</button>
      </form>
    <%end%>

  </div>
<%end%>
