<h1><%=@user.username%>'s Favorites:</h1>


<div class="goal-container">
  <%@user.favorites.each do |fave|%>
    <h5><%=fave.title%></h5>
    <%=fave.content%>
    <br>
    In <a href="/goals/<%=fave.id%>"><%=fave.steps.count%></a> Steps
    <br>
    <ul>
      <%fave.steps.each do |step|%>
        <li><%=step.content%></li>
      <%end%>
    </ul>
    <div class="username-bottom">
      source: <a href="/users/<%=fave.user.slug%>"><%=fave.user.username%></a>
    </div>
    <br>
    <%if !current_user.favorited?(fave)%>
      <form action="/users/<%=current_user.slug%>/favorites" method="POST">
        <button type="submit" name="favorite_goal_id" value="<%=goal.id%>" id="favorite">Favorite</button>
      </form>
    <% else%>
      <form action="/users/<%=current_user.slug%>/favorites/delete" method="POST">
        <input type="hidden" id="hidden" name="_method" value="delete"></input>
        <button type="submit" name="favorite_goal_id" value="<%=fave.id%>" id="favorite">Un-Favorite</button>
      </form>
    <%end%>
  <%end%>
</div>
