<h1>Welcome to Goals Social Home! </h1>

<% @goals.each do |goal| %>


  <div class="goal-container">
    <h5><%=goal.title%></h5>
    <%=goal.content%>
    <br>
    In <a href="/goals/<%=goal.id%>"><%=goal.steps.count%></a> Steps
    <br>
    <ul>
      <%goal.steps.each do |step|%>
        <li><%=step.content%></li>
      <%end%>
    </ul>
    <div class="username-bottom">
      source: <a href="/users/<%=goal.user.slug%>"><%=goal.user.username%></a>
    </div>
    <br>
    <form action="/users/<%=current_user.slug%>/favorites" method="POST">
      <input type="checkbox" name="favorite" value="<%=genre.id%>" id="<%=genre.name%>"
      <input type="submit" value="Favorite" id="favorite">
    </form>

  </div>

<%end%>
